html,
body {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body>div {
    height: 100vh;
    width: 100%;
}

body>div>div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90%;
    margin: 2.5%;
    scroll-snap-align: center;
}

body>div>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15%;
}

body>div>div>div {
    height: 100%;
}

html {
    scroll-snap-type: y mandatory;
    scrollbar-gutter: stable;
}

.mainImg {
    border-radius: 100%;
    object-fit: contain;
    height: 50vh;
}

* {
    box-sizing: border-box;
}

h1,
h2 {
    font-family: "Source Code Pro", monospace;
}

p,
li,
a {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

li:not(:last-child) {
    margin-bottom: 3px;
}

.modal {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: none;
    transition: all 0.3s;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
}

.modal>div {
    height: 70%;
    width: 70%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    padding: 7.5%;
}

.modal > div > iframe {
    width: 50%;
    aspect-ratio: 16/9;
    height: auto;
}

.rightCorner {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.horizontal > li {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
    font-size: 11px;
    text-align: center;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
}

.grid4 img {
    width: 48px;
    height: 48px;
}

.grid4 li, .grid2 li {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.grid4 li:last-child {
    justify-self: center;
    grid-column-start: span 4;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    padding: 0;
}

.grid2 img {
    width: 100%;
    height: auto;
}

a {
    color: grey;
}